[submodule "bundles/vcscommand"]
	path = bundles/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = http://github.com/rstacruz/sparkup.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = https://github.com/bingaman/vim-sparkup.git
[submodule "bundle/vim-unimpared"]
	path = bundle/vim-unimpared
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
